[tools]
go = "1.25.3"
node = "lts"
"npm:@earendil-works/pi-coding-agent" = "latest"
"npm:@google/gemini-cli" = "latest"
{{- if eq (includeTemplate "role" .) "agents" }}
"npm:@openai/codex" = "latest"
{{- end }}
